:root {
  --clr-black: #151515;
  --clr-white: #ffffff;
  --clr-grey: #ebebe9;

  --page-max-width: 1440px;
  --section-height: 1000px;
  --page-window-gap: 0.4rem;

  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  /* line-height: 160%; */
  font-size: 16px;

  background-color: var(--clr-white);
  color: var(--clr-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  min-height: 100vh;
  position: relative;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button,
a {
  text-decoration: none;
  font-weight: 400;
  font-family: inherit;
  color: currentColor;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

span,
small {
  font-family: inherit;
  color: var(--clr-grey);
  opacity: 0.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/* Utility Classes */
.line {
  display: inline-block;
  width: 40px;
  height: 2px;
  border-radius: 1px;
  background-color: var(--clr-white);
}

.dt {
  font-size: 2.2em;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.h1 {
  font-size: 1.875rem;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.h5 {
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.p {
  font-weight: 400;
  line-height: 26px;
  padding-block: 0.4em;
}

/* Class Styles */
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  max-width: var(--page-max-width);
  height: 60px;
  margin-top: 25px;
  margin-block: auto;
  padding-inline: var(--page-window-gap);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle {
  padding: 1em;
}
.toggle:hover {
  opacity: 0.7;
}

.index-showcase,
.about-showcase,
.menupage-showcase {
  height: 100vh;
  max-height: var(--section-height);
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: var(--clr-white);
}
.index-showcase {
  background-image: url("/assets/banner-min.png");
}
.index-showcase > section,
.about-showcase > section,
.menupage-showcase > section {
  position: relative;
  width: 100%;
  height: inherit;
  display: grid;
  align-content: center;
  justify-content: start;
  padding-inline: var(--page-window-gap);
}
.heading {
  font-size: 3.75rem;
  line-height: 81.72px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 700;

  min-height: 70px;
  position: relative;
  visibility: hidden;
  opacity: 0;
}
.heading::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--clr-white);
}
.scroll-indicator,
.socials {
  position: absolute;
  bottom: 40px;
}
.socials {
  display: flex;
  gap: 2em;
  align-items: center;
  left: var(--page-window-gap);
}
.lined-wrapper,
.scroll-indicator {
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.75rem;
}
.scroll-indicator {
  right: var(--page-window-gap);
  writing-mode: sideways-lr;
}
.scroll-indicator .line {
  height: 40px;
  width: 2px;
}
.lined-wrapper {
  margin-top: 2em;
}

.index-about {
  max-width: var(--page-max-width);
  padding-inline: var(--page-window-gap);
  margin-inline: auto;
  margin-block: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  justify-content: center;
}
@media (min-width: 769px) {
  .index-about {
    flex-direction: row;
    justify-content: space-around;
  }
}
.index-about_child {
  width: 100%;
  max-width: 655px;
  display: flex;
  flex-direction: column;
  gap: 4.4em;
}
.index-about_child .image-container {
  width: 100%;
  height: 489px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.index-about_child .image-container img {
  visibility: hidden;
}
.index-about_child .image-container.left {
  display: grid;
  place-items: center;
}
.index-about_child .image-container.left > div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--clr-black);
  width: 45%;
  max-width: 358px;
  z-index: -1;
}

.index-menu {
  background-color: var(--clr-black);
  color: var(--clr-white);
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
}
.index-menu_child {
  height: 320px;
  position: relative;
  cursor: pointer;
}
.index-menu_child > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.index-menu_child .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.index-menu_child .overlay:hover {
  background-color: var(--clr-black);
}

.index-news {
  text-align: center;
  margin: 70px 0;
  max-width: var(--page-max-width);
  margin-inline: auto;
  padding-inline: 1em;
}
.index-news .h1 {
  margin-bottom: 70px;
}
.index-news > div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 40px;
}
.news {
  display: grid;
  grid-template-columns: 0.2fr 1fr 80px;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  text-align: left;
  padding: 0.3em 0.5em;
}
.news:hover {
  background-color: var(--clr-grey);
}
.news > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 0.7em;
}
.news > div:nth-child(1) h2 {
  font-size: 3rem;
  line-height: 67px;
  text-transform: uppercase;
}
.news > div:nth-child(1) p {
  line-height: 20px;
  font-size: 14px;
  text-transform: uppercase;
}

footer {
  position: relative;
  height: 700px;
}
footer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
footer #map-marker1,
footer #map-marker2 {
  position: absolute;
  z-index: 3;
}
footer #map-marker1 {
  top: 20%;
  left: 40%;
}
footer #map-marker2 {
  right: 20%;
  bottom: 50%;
}
.footer-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--clr-black);
  color: var(--clr-white);
  max-width: var(--page-max-width);
  padding-inline: var(--page-window-gap);
  margin-inline: auto;
}
.footer-content > div:nth-child(1) {
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 0.75rem;
  padding-block: 55px;
}
.footer-content > div:nth-child(2) {
  border-top: 2px solid var(--clr-grey);
  display: grid;
  place-content: center;
  height: 50px;
}

.nav-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 14;
  background-color: var(--clr-grey);
  color: var(--clr-black);
}
.nav-menu > section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.nav-menu_slider-container {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-menu_slider-container .slider {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slider-image {
  height: 100%;
  min-width: 60%;
  max-width: 70%;
  transition: all ease-in 0.3s;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  gap: 0.5em;
  position: relative;
}
.slider-image #swiper-left,
.slider-image #swiper-right {
  visibility: hidden;
}
.slider-image.swiper-slide-active #swiper-left,
.slider-image.swiper-slide-active #swiper-right {
  visibility: visible;
}
.slider-image.swiper-slide,
.slider-image.swiper-slide {
  opacity: 0.5;
}
.slider-image.swiper-slide-active {
  opacity: 1;
}
.slider-image .slide-image {
  height: 100%;
  width: auto;
  overflow: hidden;
}
.slider-image .slide-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.slider-image .slide-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  place-items: center;
  gap: 1em;
  color: var(--clr-white);
}
.nav-menu nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 48px;
  line-height: 30px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 6vh;
}
.nav-menu nav a:active {
  font-weight: 800;
}
.nav-menu .nav-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-bottom: 4vh;
}
.nav-menu .nav-socials > * {
  background-color: var(--clr-black);
  padding: 0.4em;
  border-radius: 3px;
}

/* About Page */
.about-showcase {
  background-image: url("/assets/about/banner-about-min.png");
}
.about-about {
  max-width: var(--page-max-width);
  margin-inline: auto;
  margin-block: 100px;
  text-align: center;
}
.about-caption {
  margin-block: 70px;
  text-align: left;
  max-width: 1170px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media (min-width: 769px) {
  .about-caption {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.about-caption > div {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}
.about-img-grid01 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-img-grid02 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Menu page */
.menupage-showcase {
  background-image: url("/assets/banner(3)-min.png");
}
.menupage {
  max-width: calc(var(--page-max-width) - 40vw);
  margin: 3em auto;
  padding: 1em;
}
.menupage table {
  width: 100%;
}
.menupage thead {
  text-transform: capitalize;
  opacity: 0.6;
  font-weight: 400;
  padding-bottom: 24px;
}
.menupage tr td {
  padding: 10px;
  border-bottom: 1px solid var(--clr-black);
}
.menupage tr td:first-child {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}
.menupage tr td:first-child p,
.menupage tr td:nth-child(2) {
  opacity: 0.8;
  font-size: 14px;
}
.menupage tr td:nth-child(2) {
  border-right: 1px solid var(--clr-grey);
}
.menupage tr td:nth-child(3) {
  font-weight: 700;
  font-size: 14px;
}
footer.menupage-footer {
  height: auto;
}
footer.menupage-footer > img {
  display: none;
}
footer.menupage-footer #map-marker1,
footer.menupage-footer #map-marker2 {
  display: none;
}
footer.menupage-footer .footer-content {
  position: static;
}
